/* Navbar */
.dropdown .dropdown-menu a:hover {
  color: #fff;
  background-color: #961e47;
  border-color: #fff;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #da8979;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #98234b;
}
/* Custom Scrollbar */

input:focus {
  outline: none;
}

input {
  border-radius: 10px;
  border: 2px solid #e9afa3;
  padding: 10px;
}

input:focus {
  border-color: #842243;
}

.prod-card {
  margin-top: 30px;
  background-color: #faf1ed;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-prod-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buy-prod-profile-navbar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  height: 80px;
  background-color: #fcd5ce;
}

/* Interested btn - Modal */
.interest-modal-btn {
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  border: 2px solid #961e47;
  background-color: white;
  color: black;
  height: 40px;
  margin-top: 10px;
  width: 50%;
  box-shadow: none;
}

.interest-modal-btn:hover {
  color: white;
  background-color: #961e47;
  box-shadow: none;
}

/* Media Queries for product img */
@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img-mq {
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .img-mq {
    padding-top: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #user-navbar-name {
    padding-left: 20px;
  }
  .img-mq {
    padding-top: 10px;
  }
  #interest-modal-btn {
    margin-top: 25px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #user-navbar-name {
    padding-left: 20px;
  }
  .img-mq {
    padding-top: 10px;
  }
  #interest-modal-btn {
    margin-top: 25px;
  }
}

.sosbtn {
  background-color: #961e47;
  color: white;
  margin-top: 30px;
  width: 40%;
}

.sosbtn:hover {
  color: white;
}

#preloader {
	position: fixed;
	height : 100vh;
	z-index : 100;
	text-align: center;
	background: white url('/images/preloader.gif')center center no-repeat;
}
